.header-with-searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  width: 100%;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  margin-right: 24px;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  margin: 24px;
}

.logo p {
  color: rgba(255, 255, 255, 0.85);
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}
